  <div class="card <%= view %> <%= move_class %> ">
            <number>
                <%= number %><br>
                <symbol><%= raw(symbol) %></symbol>
            </number>
            <symbol class="big">
                <%= raw(symbol) %>
            </symbol>
            <number class="invert">
                <%= number %><br>
                <symbol><%= raw(symbol) %></symbol>
            </number>
        </div>