<% if @pas == 0 %>
    Cartile au fost impartite.
<% end %>        
        PAS :<%= @pas %> |
        
        MESAJ: <%= @message %>
        
        <div class="container">
        <div class="row">
            <div class="col-md-2">  TU <%= @numar1 %>  <br> DUSHAMNU <%= @numar2 %></div>
            <div class="col-md-10 playtable">
            
        
            
              <% for i in 1..@numar1 %>
                 <%= render partial: 'card', locals: {view: "back", symbol: '&spades;', number: 0, move_class: "card-#{i%5}" } %>  
              <% end %>
              
              <% for i in 1..@numar2 %>
                 <%= render partial: 'card', locals: {view: "back", symbol: '&spades;', number: 0, move_class: "card-#{i%5} all" } %>  
              <% end %>
              
              <% if @carte_jucator2.present? %>
              <%= render partial: 'card', locals: {view: "front", symbol: '&spades;', number: @carte_jucator2[:numar], move_class: "bottom" } %>    
              <% end %>
        
        
            </div>
            
            
            </div>


            
        
