<% if @pas == 0 %>
    Cartile au fost impartite.
<% end %>        
        PAS :
            <div id="pas"> <%= @pas %> </div> 
        
        MESAJ:
            <div id="mesaj"> <%= @message %> </div>
        
        <div class="container">
        <div class="row">
            <div class="col-md-2">  
            TU:     
                <div id="numar_carti1"><%= @numar1 %></div>  
            DUSHAMNU:
                 <div id="numar_carti2"><%= @numar2 %></div>
             </div>
            <div class="col-md-10 playtable">
            
          <div id="carti_existente1">
           <% if @numar1 && @numar1 > 0 %>
            
              <% for i in 1..@numar1 %>
                 <%= render partial: 'card', locals: {view: "back", symbol: '&spades;', number: 0, move_class: "card-#{i%5}" } %>  
              <% end %>
           <% end %>
         </div>
         <div id="carte_actuala1"></div>
         <div id="carti_existente2">  
           <% if @numar2 && @numar2 > 0 %>
              <% for i in 1..@numar2 %>
                 <%= render partial: 'card', locals: {view: "back", symbol: '&spades;', number: 0, move_class: "card-#{i%5} all" } %>  
              <% end %>
            <% end %>
         </div>
         <div id="carte_actuala2"></div>
            </div>
            
            
            </div>


            
        
