<!-- simboluri
    &spades; frunza
    &clubs; trefla
    &diams; romb
    &hearts; inima rosie

 -->
 
PAS :<%= @pas %>

<br />

MESAJ: <%= @message %>



<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        TU
        <div class="card red">
            <number>
                <%= @carte_jucator1[:numar] %><br>
                <symbol>&spades;</symbol>
            </number>
            <symbol class="big">
                <%= @carte_jucator1[:culoare].html_safe %>
            </symbol>
            <number class="invert">
                <%= @carte_jucator1[:numar] %><br>
                <symbol>&spades;</symbol>
            </number>
        </div>
    </div>
      <div class="col-md-2">
        DUSHAMNU
        <div class="card">
            <number>
                <%= @carte_jucator2[:numar] %><br>
                <symbol>&spades;</symbol>
            </number>
            <symbol class="big">
                <%= @carte_jucator2[:culoare].html_safe %>
            </symbol>
            <number class="invert">
                <%= @carte_jucator2[:numar] %><br>
                <symbol>&spades;</symbol>
            </number>
        </div>
    </div>  
   
    <div class="col-md-2"></div>
    
</div>
</div>

