<!-- simboluri
    &spades; frunza
    &clubs; trefla
    &diams; romb
    &hearts; inima rosie

 -->
 
PAS :<%= @pas %> |

MESAJ: <%= @message %>

<% if @carte_jucator1 && @carte_jucator2 %>

<div class="container">
<div class="row">
    <div class="col-md-2">  TU <%= @numar1 %>  <br> DUSHAMNU <%= @numar2 %></div>
    <div class="col-md-10 playtable">
    
    <!--  jucator 1        -->
    
      <% for i in 1..@numar1-1 %>
         <%= render partial: 'card', locals: {view: "back", symbol: '&spades;', number: @carte_jucator1[:numar], move_class: "card-#{i%5}" } %>  
      <% end %>
      
      <%= render partial: 'card', locals: {view: "front", symbol: '&spades;', number: @carte_jucator1[:numar], move_class: "top" } %>
      
    
      <!-- jucator 2        -->
    
      <% for i in 1..@numar2-1 %>
         <%= render partial: 'card', locals: {view: "back", symbol: '&spades;', number: @carte_jucator2[:numar], move_class: "card-#{i%5} all" } %>  
      <% end %>
      
      <%= render partial: 'card', locals: {view: "front", symbol: '&spades;', number: @carte_jucator2[:numar], move_class: "bottom" } %>


    </div>
</div>


</div>
<% else %>
    <% if @carte_jucator1 == nil %>
        Ai pierdut!
    <% elsif @carte_jucator2 == nil %>
        Ai castigat!
    <% end %>
<% end %>
